<center>

  <% if q.ate == 1 %>
    <% checked_ate = true %>
  <% else %>
    <% checked_ate = false %>
  <% end %>

  <div class="container-fluid">
    <span class="hidden list-view-item-q">
      <%="#{q.id}-list-view-item-eat"%>
    </span>
    <div class="row">

      <div class="col-md-12 list-view-item-div">
        <%= form_for(q, :remote => true, :html => {:class => "form-inline", :style => "width: 100%;"}) do |f| %>
          <label>
            <%= f.check_box :ate, class: 'input form-control ate-checkbox', :checked => checked_ate, onchange: '$(this.form).submit();', onkeyup: '$(this.form).submit();', type: "checkbox" %> 
            <%= f.submit "Save changes", class: "hidden" %>
            <%= f.label(:ate, "%.3g" % q.amount + " #{q.food.name} (#{q.food.aisle})") %>
          </label>
        <% end %>
      </div>
    </div>
  </div>

</center>